[submodule "budget-app"]
	path = budget-app
	url = git@github.com:mjsmith11/budget-app.git
[submodule "tradebot"]
	path = tradebot
	url = git@github.com:mjsmith11/tradebot.git
[submodule "price-tracker"]
	path = price-tracker
	url = git@github.com:mjsmith11/price-tracker.git
