{
    # Optional: use staging CA while testing to avoid rate limits
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}
*.mattsmith.tech {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
    @caddy host lab.mattsmith.tech
        handle @caddy {
                root * /usr/share/caddy
                file_server
        }
}
*.lab.mattsmith.tech {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
    @pihole host pihole.lab.mattsmith.tech
        handle @pihole {
                reverse_proxy http://pihole:80 
        }
}
http://m {
    redir https://mail.google.com
}

http://y {
    redir https://youtube.com
}
http://git {
    redir https://github.com
}

http://c {
    redir https://calendar.google.com
}

http://dr {
    redir https://drive.google.com
}

http://unifi {
    redir https://192.168.1.1
}

http://a {
    redir https://www.amazon.com
}

http://e {
    redir https://ira.empower-retirement.com
}

http://f {
    redir https://facebook.com
}

http://i {
    redir https://instagram.com
}

http://t {
    redir https://x.com
}

http://od {
    redir https://onedrive.live.com
}

http://wordle {
    redir https://www.nytimes.com/games/wordle/index.html
}

http://jeremy {
    redir https://1drv.ms/f/c/5867ff3cdb870ab7/Esz5VHe0uX9Jm1POLTTvjvQByPk6X8K7vgK5X_fBpEaBpw?e=c6FKte
}

http://pihole {
    redir https://pihole.lab.mattsmith.tech/admin
}

http://rickroll {
    redir https://www.youtube.com/watch?v=dQw4w9WgXcQ
}