{
    # Optional: use staging CA while testing to avoid rate limits
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}
*.mattsmith.tech {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        @caddy host lab.mattsmith.tech
        handle @caddy {
            root * /usr/share/caddy
            file_server
        }
    }
    handle {
        respond 403
    }
}
*.lab.mattsmith.tech {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
    @allowed remote_ip 192.168.1.0/24
    @jellyfin_allowed {
        host jellyfin.lab.mattsmith.tech
        remote_ip 192.168.1.0/24 192.168.20.0/24
    }
    handle @jellyfin_allowed {
        reverse_proxy http://jellyfin:8096
    }
    handle @allowed {
        @pihole host pihole.lab.mattsmith.tech
        handle @pihole {
            reverse_proxy http://pihole:80
        }
        @budget host budget.lab.mattsmith.tech
        handle @budget {
            reverse_proxy http://budget-frontend:80
        }
        @inkypi host inkypi.lab.mattsmith.tech
        handle @inkypi {
            reverse_proxy http://inky.lab.mattsmith.tech
        }
        @tradebot host tradebot.lab.mattsmith.tech
        handle @tradebot {
            reverse_proxy http://tradebot:8080
        }
    }
    handle {
        respond 403
    }
}
http://m {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://mail.google.com
    }
    respond 403
}

http://y {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://youtube.com
    }
    respond 403
}
http://git {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://github.com
    }
    respond 403
}

http://c {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://calendar.google.com
    }
    respond 403
}

http://dr {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://drive.google.com
    }
    respond 403
}

http://unifi {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://192.168.1.1
    }
    respond 403
}

http://a {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://www.amazon.com
    }
    respond 403
}

http://e {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://ira.empower-retirement.com
    }
    respond 403
}

http://f {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://facebook.com
    }
    respond 403
}

http://i {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://instagram.com
    }
    respond 403
}

http://t {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://x.com
    }
    respond 403
}

http://od {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://onedrive.live.com
    }
    respond 403
}

http://wordle {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://www.nytimes.com/games/wordle/index.html
    }
    respond 403
}

http://jeremy {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://1drv.ms/f/c/5867ff3cdb870ab7/Esz5VHe0uX9Jm1POLTTvjvQByPk6X8K7vgK5X_fBpEaBpw?e=c6FKte
    }
    respond 403
}

http://pihole {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://pihole.lab.mattsmith.tech/admin
    }
    respond 403
}

http://budget {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://budget.lab.mattsmith.tech
    }
    respond 403
}

http://tb {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://tradebot.lab.mattsmith.tech
    }
    respond 403
}

http://rickroll {
    @allowed remote_ip 192.168.1.0/24
    handle @allowed {
        redir https://www.youtube.com/watch?v=dQw4w9WgXcQ
    }
    respond 403
}
